<div class="main">
  <ul id="og-grid" class="og-grid">

    <% @articles.each do |article| %>

        


        <li>

          <a href="<%= article.url %>" data-largesrc="<%= article.image_url %>" data-title="<%= article.name %>" data-description="<%= article.description %>"><%= image_tag article.image_url(:thumb) if article.image? %></a>

        </li>

      <% if belongs_article_to_current_user(article.user.id) == true %>
      	<%= link_to 'Edit', edit_article_path(article), class: "edit_link" %>
				<%= link_to 'Destroy', article, class: "edit_link", method: :delete, data: { confirm: 'Are you sure?' } %>      
			<% end %>

    <% end %>

    <p>Filler text by <a href=""> BiSa GmbH</a></p>

    <% if current_user == true %>
    	<%= link_to 'add more', new_article_path, id: "og-additems" %>
    <% end %>

  </ul>
</div>
