
<!DOCTYPE html>
<html lang="en">
	<head>
  		<title>Streetdiary3</title>
  		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>


		
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="description" content="Thumbnail Grid with Expanding Preview" />
		<meta name="keywords" content="thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<script src="/js/modernizr.custom.js"></script>
	</head>
	</div>

	<body>
		<div id="hintergrund">
			<div class="container">	
<header>
	
	<div id="Bild"><%= image_tag "Header.png", :size => "800x350" %></div>
</header>

		<%= render 'layouts/navigation' %>

			<%= render 'layouts/messages' %>
			<%= yield %>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/js/grid.js"></script>
		<script>
			$(function() {
				Grid.init();
			});
		</script>
		</div>
	</div>
	</body>
</html>